body{
    background-image: url("https://raw.githubusercontent.com/Ricsko/weboldal/main/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 100%;

}
header{
    background-image: url(./img/metin2.jpeg);
    text-align: left;
    padding-top: 2px;
    font-size: 20px;
    font-weight: bold;
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 100px;
    width: 100%;
}
h1{
    color: rgba(99, 121, 192, 0.253);
    font-weight: bold;
    padding-top: 10px;
}

.menu li{
    float:left;
    text-align: center;
    padding-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

#sidebar{
    float: right;
    position: relative;
    right: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}
#szerverek{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover;
    float: right;
    background-color: cyan;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
#szerver1{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 6px;
    background-size: cover;
    float: right;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    clear: both;
}
#szerver2{
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
    background-size: cover;
    float: right;
    background-color: rgb(66, 64, 64);
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    clear: both;
}

#bal{
    overflow: auto;
    color: black;
    font-size: 20px;
    background-color: rgba(77, 113, 180, 0.404);
    margin-left: 25vh;
    float:left;
    width: 69%;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    position: relative;
    
}
#bal1{
    overflow: auto;
    color: black;
    font-size: 20px;
    background-color: rgba(77, 113, 180, 0.404);
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
    border-radius: 7px;
    position: relative;
    background-position: center;
    padding: 10px;
    text-align: center;
    margin-right: 50px;
}
#bal1 li{
    padding-bottom: 20px;
}

footer{
    position: relative;
    bottom: 0;
    clear:both;
    width: 100%;
    color: red;
    font-weight: bold;
    text-align: center;
}

#gifek{
    margin-left: 42vh;
    float: left;
    padding-bottom: 10px;
    width: 50%;
}

#gifek li {
    text-align: center;
}

ul li{
    color:white;
    list-style: none;
    font-weight: bold ;
    font-size: 25px;
}

ul a:hover{
    color: black;
    text-decoration: none;
    background-color: cyan;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid black;
}

ul a{
    color:white;
    font-weight: bold;
}

