body{
    background: silver;
    padding-top: 20px;
    padding-left: 40px;
    margin:auto;
}
header{
    background-image: url(/img/metin2.jpeg);
    text-align: left;
    color: deeppink;
    padding-top: 0px;
    font-size: 20px;
    font-weight: bold;
    background-size: 14.5%;
    background-position: center;
    margin:auto;
}

.menu li{
    float:left;
    text-align: center;
    padding-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

#jobb{
    padding: 30px;
    background-size: cover;
    float: right;
    margin:auto;
    background-color: cyan;
    border: 1px solid black;
    text-align: center;
    
}
#bal{
    float:left;
    background-color: grey;
    margin:auto;
    width: 69%;
    border: 1px solid black;
    border-radius: 7px;
}


footer{
    padding: 700px;
    text-align: center;
}


