body{
    background-image: url("https://raw.githubusercontent.com/Ricsko/weboldal/main/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;

}
header{
    background-image: url(./img/metin2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    height: 100px;
}
header, h1{
    color: rgba(233, 255, 106, 0.507);
    font-weight: bold;
    padding-top: 10px;
    align-items: center;

}

.menu ul{
    display: flex;
    justify-content: center;
}

#sidebar{
    float: right;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}
#szerverek{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: cyan;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
#szerver1{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 6px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    clear: both;
}
#szerver2{
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 10px;
    background-color: rgb(66, 64, 64);
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    clear: both;
}

#bal{
    overflow: auto;
    color: black;
    font-size: 20px;
    background-color: rgba(77, 113, 180, 0.404);
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1200px;
    margin: 0 auto;
    height: 50%;
}
#bal1{
    overflow: auto;
    color: black;
    font-size: 20px;
    background-color: rgba(77, 113, 180, 0.404);
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
    border-radius: 7px;
    position: relative;
    background-position: center;
    text-align: center;
}
#bal1 li{
    padding-bottom: 20px;
}

footer{
    position: relative;
    bottom: 0;
    clear:both;
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.356);
}

#gifek{
    margin: 0 auto;
    padding-bottom: 10px;
    width: 50%;
}

#gifek li {
    text-align: center;
}

ul li{
    color:white;
    list-style: none;
    font-weight: bold ;
    font-size: 25px;
    padding-right: 15px;
}

ul a:hover{
    color: black;
    text-decoration: none;
    background-color: cyan;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid black;
}

ul a{
    color:white;
    font-weight: bold;
}

#container{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width:1000px){
    #container{
        display: inline-flex;
        flex-direction: column;
    }
    #sidebar{
        max-width: 200px;
        margin: 0 auto;
    }
}